* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ececec;
}

/* HEADER */

.header {
  height: 60px;

  background: linear-gradient(
    90deg,
    #1d1d1d,
    #2b2017,
    #1d1d1d
  );

  border-bottom: 3px solid #ff7b00;

  display: flex;
  align-items: center;

  padding: 0 25px;
}

/* ÁREAS */

.header-left {
  width: 220px;

  display: flex;
  align-items: center;
}

.header-center {
  flex: 1;

  display: flex;
  justify-content: center;
}

.header-right {
  width: 220px;

  display: flex;
  justify-content: flex-end;
}

/* LOGO */

.logo {
  color: white;

  font-size: 30px;
  font-weight: bold;
}

/* MENU */

.menu {
  list-style: none;

  display: flex;
  align-items: center;

  gap: 40px;
}

/* LINKS */

.menu a {
  color: #d4d4d4;

  text-decoration: none;

  font-size: 15px;
  font-weight: 600;

  transition: 0.2s;
}

.menu a:hover {
  color: white;
}

/* BOTÃO */

.header-right button {
  background: transparent;

  border: none;

  color: #d4d4d4;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.header-right button:hover {
  color: white;
}